.input {
  &--theme {
    &--lightgray {
      .input__field {
        color: var(--white);

        &::placeholder {
          color: var(--lightgray-2);
        }
      }

      .input__body {
        color: var(--lightgray-2);
        background-color: var(--gray-1);
      }

      &.is-disabled {
        opacity: 0.7;
        cursor: not-allowed;

        .input__field {
          cursor: not-allowed;
        }
      }
    }
  }
}
