:root {
  /* VARS */

  --opacity-1: 0.082;
  --opacity-2: 0.125;
  --opacity-3: 0.3;
  --opacity-4: 0.4;
  --opacity-5: 0.05;
  --opacity-6: 0.1;
  --opacity-7: 0.2;

  --white-rgb: 255 255 255; /* #ffffff */
  --black-rgb: 0 0 0; /* #000000 */

  --gray-1-rgb: 18 18 18; /* #121212 */
  --gray-2-rgb: 26 26 26; /* #1a1a1a */
  --gray-3-rgb: 22 22 22; /* #161616 */
  --gray-4-rgb: 30 30 30; /* #1e1e1e */
  --gray-5-rgb: 42 42 42; /* #2a2a2a */
  --gray-6-rgb: 35 35 35; /* #2a2a2a */

  --lightgray-1-rgb: 68 68 68; /* #444444 */
  --lightgray-2-rgb: 85 85 85; /* #555555 */
  --lightgray-3-rgb: 102 102 102; /* #666666 */
  --lightgray-4-rgb: 153 153 153; /* #999999 */
  --lightgray-5-rgb: 178 178 178; /* #b2b2b2 */
  --lightgray-6-rgb: 136 136 136; /* #888888 */

  --green-1-rgb: 74 222 128; /* #4ade80 */
  --green-2-rgb: 34 197 94; /* #22c55e */
  --green-3-rgb: 0 184 148;

  --red-1-rgb: 248 113 113; /* #f87171 */
  --red-2-rgb: 243 129 129; /* #f38181 */
  --red-3-rgb: 225 112 85;
  --red-4-rgb: 214 48 49;

  --pink-1-rgb: 255 107 157; /* #ff6b9d */
  --pink-2-rgb: 253 121 168;
  --pink-3-rgb: 232 67 147;

  --yellow-1-rgb: 251 191 36; /* #fbbf24 */
  --yellow-2-rgb: 255 230 109; /* #ffe66d */
  --yellow-3-rgb: 255 234 167;
  --yellow-4-rgb: 253 203 110;

  --lightblue-1-rgb: 78 205 196; /* #4ecdc4 */
  --lightblue-2-rgb: 149 225 211; /* #95e1d3 */
  --lightblue-3-rgb: 168 230 207; /* #a8e6cf */

  --blue-1-rgb: 116 185 255; /* #74b9ff */
  --blue-2-rgb: 85 239 196;
  --blue-3-rgb: 9 132 237;
  --blue-4-rgb: 0 206 201;

  --violet-1-rgb: 162 155 254; /* #a29bfe */
  --violet-2-rgb: 199 206 234; /* #c7ceea */
  --violet-3-rgb: 108 92 231;

  /* COLORS */

  --transparent: transparent;
  --white: rgb(var(--white-rgb)); /* #ffffff */
  --black: rgb(var(--black-rgb)); /* #000000 */

  --gray-1: rgb(var(--gray-1-rgb)); /* #121212 */
  --gray-2: rgb(var(--gray-2-rgb)); /* #1a1a1a */
  --gray-3: rgb(var(--gray-3-rgb)); /* #161616 */
  --gray-4: rgb(var(--gray-4-rgb)); /* #1e1e1e */
  --gray-5: rgb(var(--gray-5-rgb)); /* #2a2a2a */

  --lightgray-1: rgb(var(--lightgray-1-rgb)); /* #444444 */
  --lightgray-2: rgb(var(--lightgray-2-rgb)); /* #555555 */
  --lightgray-3: rgb(var(--lightgray-3-rgb)); /* #666666 */
  --lightgray-4: rgb(var(--lightgray-4-rgb)); /* #999999 */
  --lightgray-5: rgb(var(--lightgray-5-rgb)); /* #b2b2b2 */
  --lightgray-6: rgb(var(--lightgray-6-rgb)); /* #888888 */

  --green-1: rgb(var(--green-1-rgb)); /* #4ade80 */
  --green-2: rgb(var(--green-2-rgb)); /* #22c55e */
  --green-3: rgb(var(--green-3-rgb));

  --red-1: rgb(var(--red-1-rgb)); /* #f87171 */
  --red-2: rgb(var(--red-2-rgb)); /* #f38181 */
  --red-3: rgb(var(--red-3-rgb));
  --red-4: rgb(var(--red-4-rgb));

  --pink-1: rgb(var(--pink-1-rgb)); /* #ff6b9d */
  --pink-2: rgb(var(--pink-2-rgb));
  --pink-3: rgb(var(--pink-3-rgb));

  --yellow-1: rgb(var(--yellow-1-rgb)); /* #fbbf24 */
  --yellow-2: rgb(var(--yellow-2-rgb)); /* #ffe66d */
  --yellow-3: rgb(var(--yellow-3-rgb));
  --yellow-4: rgb(var(--yellow-4-rgb));

  --lightblue-1: rgb(var(--lightblue-1-rgb)); /* #4ecdc4 */
  --lightblue-2: rgb(var(--lightblue-2-rgb)); /* #95e1d3 */
  --lightblue-3: rgb(var(--lightblue-3-rgb)); /* #a8e6cf */

  --blue-1: rgb(var(--blue-1-rgb)); /* #74b9ff */
  --blue-2: rgb(var(--blue-2-rgb));
  --blue-3: rgb(var(--blue-3-rgb));
  --blue-4: rgb(var(--blue-4-rgb));

  --violet-1: rgb(var(--violet-1-rgb)); /* #a29bfe */
  --violet-2: rgb(var(--violet-2-rgb)); /* #c7ceea */
  --violet-3: rgb(var(--violet-3-rgb));

  /* SHADOWS */

  --gray-shadow-1: rgb(
    var(--black-rgb) / var(--opacity-3)
  ); /* rgba(0,0,0,0.3) || #0000004d */
  --gray-shadow-2: rgb(
    var(--black-rgb) / var(--opacity-4)
  ); /* rgba(0,0,0,0.4) || #00000066 */

  /* BUTTONS */

  --button-bg-1: rgb(
    var(--white-rgb) / var(--opacity-5)
  ); /* rgba(255,255,255,0.05) || #ffffff0d */

  --button-bg-2: rgb(
    var(--white-rgb) / var(--opacity-6)
  ); /* rgba(255,255,255,0.1) || #ffffff1a */

  --button-bg-2-red: rgb(var(--red-1-rgb) / var(--opacity-6));

  --button-bg-3: rgb(
    var(--white-rgb) / var(--opacity-7)
  ); /* rgba(255,255,255,0.2) || #ffffff33 */

  --button-bg-3-red: rgb(var(--red-1-rgb) / var(--opacity-7));
  --button-bg-4-red: rgb(var(--red-1-rgb) / var(--opacity-4));

  /* CARD / LABEL */

  --green-1-label: rgb(
    var(--green-1-rgb) / var(--opacity-2)
  ); /* rgba(74,222,128,0.125) || #4ade8020 */

  --red-1-label: rgb(
    var(--red-1-rgb) / var(--opacity-2)
  ); /* rgba(248,113,113,0.125) || #f8717120 */

  --yellow-2-label: rgb(
    var(--yellow-2-rgb) / var(--opacity-2)
  ); /* rgba(255,230,109,0.125) || #ffe66d20 */

  --lightblue-1-label: rgb(
    var(--lightblue-1-rgb) / var(--opacity-1)
  ); /* rgba(78,205,196,0.082) || #4ecdc415 */

  --lightblue-1-op-1: rgb(var(--lightblue-1-rgb) / var(--opacity-7));
  --lightblue-2-op: rgb(var(--lightblue-2-rgb) / var(--opacity-7));
  --lightblue-3-op: rgb(var(--lightblue-3-rgb) / var(--opacity-7));

  --pink-1-op: rgb(var(--pink-1-rgb) / var(--opacity-7));
  --pink-2-op: rgb(var(--pink-2-rgb) / var(--opacity-7));
  --pink-3-op: rgb(var(--pink-3-rgb) / var(--opacity-7));

  --yellow-1-op: rgb(var(--yellow-1-rgb) / var(--opacity-7));
  --yellow-2-op-1: rgb(var(--yellow-2-rgb) / var(--opacity-7));
  --yellow-3-op: rgb(var(--yellow-3-rgb) / var(--opacity-7));
  --yellow-4-op: rgb(var(--yellow-4-rgb) / var(--opacity-7));

  --red-1-op: rgb(var(--red-1-rgb) / var(--opacity-7));
  --red-2-op: rgb(var(--red-2-rgb) / var(--opacity-7));
  --red-3-op: rgb(var(--red-3-rgb) / var(--opacity-7));
  --red-4-op: rgb(var(--red-4-rgb) / var(--opacity-7));

  --blue-1-op: rgb(var(--blue-1-rgb) / var(--opacity-7));
  --blue-2-op: rgb(var(--blue-2-rgb) / var(--opacity-7));
  --blue-3-op: rgb(var(--blue-3-rgb) / var(--opacity-7));
  --blue-4-op: rgb(var(--blue-4-rgb) / var(--opacity-7));

  --violet-1-op: rgb(var(--violet-1-rgb) / var(--opacity-7));
  --violet-2-op: rgb(var(--violet-2-rgb) / var(--opacity-7));
  --violet-3-op: rgb(var(--violet-3-rgb) / var(--opacity-7));

  --green-1-op: rgb(var(--green-1-rgb) / var(--opacity-7));
  --green-2-op: rgb(var(--green-2-rgb) / var(--opacity-7));
  --green-3-op: rgb(var(--green-3-rgb) / var(--opacity-7));

  --gray-1-op: rgb(var(--gray-1-rgb) / var(--opacity-7));

  --black-1-op: rgb(var(--black-rgb) / var(--opacity-7));
  --white-1-op: rgb(var(--white-rgb) / var(--opacity-7));

  /* CATEGORIES (light) */

  --category-lightblue-1: var(--lightblue-1);
  --category-lightblue-2: var(--lightblue-2);
  --category-lightblue-3: var(--lightblue-3);
  --category-blue-1: var(--blue-1);
  --category-blue-2: var(--blue-2);
  --category-blue-3: var(--blue-3);
  --category-blue-4: var(--blue-4);
  --category-yellow-1: var(--yellow-1);
  --category-yellow-2: var(--yellow-2);
  --category-yellow-3: var(--yellow-3);
  --category-yellow-4: var(--yellow-4);
  --category-pink-1: var(--pink-1);
  --category-pink-2: var(--pink-2);
  --category-pink-3: var(--pink-3);
  --category-red-1: var(--red-1);
  --category-red-2: var(--red-2);
  --category-red-3: var(--red-3);
  --category-red-4: var(--red-4);
  --category-violet-1: var(--violet-1);
  --category-violet-2: var(--violet-2);
  --category-violet-3: var(--violet-3);
  --category-green-1: var(--green-1);
  --category-green-2: var(--green-2);
  --category-green-3: var(--green-3);
  --category-gray-1: var(--gray-1);
  --category-black-1: var(--black);
  --category-white-1: var(--white);

  --category-op-lightblue-1: var(--lightblue-1-op-1);
  --category-op-lightblue-2: var(--lightblue-2-op);
  --category-op-lightblue-3: var(--lightblue-3-op);
  --category-op-blue-1: var(--blue-1-op);
  --category-op-blue-2: var(--blue-2-op);
  --category-op-blue-3: var(--blue-3-op);
  --category-op-blue-4: var(--blue-4-op);
  --category-op-yellow-1: var(--yellow-1-op);
  --category-op-yellow-2: var(--yellow-2-op-1);
  --category-op-yellow-3: var(--yellow-3-op);
  --category-op-yellow-4: var(--yellow-4-op);
  --category-op-pink-1: var(--pink-1-op);
  --category-op-pink-2: var(--pink-2-op);
  --category-op-pink-3: var(--pink-3-op);
  --category-op-red-1: var(--red-1-op);
  --category-op-red-2: var(--red-2-op);
  --category-op-red-3: var(--red-3-op);
  --category-op-red-4: var(--red-4-op);
  --category-op-violet-1: var(--violet-1-op);
  --category-op-violet-2: var(--violet-2-op);
  --category-op-violet-3: var(--violet-3-op);
  --category-op-green-1: var(--green-1-op);
  --category-op-green-2: var(--green-2-op);
  --category-op-green-3: var(--green-3-op);
  --category-op-gray-1: var(--gray-1-op);
  --category-op-black-1: var(--black-1-op);
  --category-op-white-1: var(--white-1-op);
}
