.saving-item {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-4);
  padding: var(--size-20);
  border-radius: var(--size-16);
  gap: var(--size-12);
  transition: transform 0.5s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);

      .savings__buttons {
        max-width: var(--size-68);
        opacity: 1;
        transition-delay: 0s;

        transition:
          opacity 0.5s ease-out,
          max-width 0.5s ease-out;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--size-4);
    max-width: var(--size-0);
    opacity: 0;
    transition:
      opacity 0.15s ease-in,
      max-width 0.25s ease-in;
  }
}
