.saving-item {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-4);
  padding: var(--size-20);
  border-radius: var(--size-16);
  gap: var(--size-16);
  transition: transform 0.5s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);

      .saving-item__buttons {
        opacity: 1;
        max-width: 200px;
        transition:
          opacity 0.5s ease-in-out,
          max-width 0.5s ease-in-out;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--size-6);
    width: var(--parent);
    background-color: var(--gray-4);
    max-width: 0;
    opacity: 0;
    max-width: 200px;
    transition:
      opacity 0.5s ease-in-out,
      max-width 0.5s ease-in-out;
  }
}
