.button {
  &--theme {
    &--green {
      --button-background-color: var(--green-1);
      color: var(--black);
      --button-radius: var(--size-14);
      fill: currentColor;
      padding: var(--size-12) var(--size-16);

      &:not(:disabled, .is-disabled) {
        @media (hover: hover) {
          &:hover {
            --button-background-color: var(--green-2);
            transform: scale(1.02);
          }
        }

        &.is-active,
        &:active {
          transform: unset;
        }
      }
    }
  }
}
