.button {
  &--theme {
    &--lightgray {
      --button-radius: var(--size-10);
      color: var(--lightgray-3);
      --button-background-color: var(--button-bg-1);

      @media (hover: hover) {
        &:hover {
          color: var(--white);
          --button-background-color: var(--button-bg-2);
        }
      }

      &.is-active,
      &:active {
        color: var(--white);
        --button-background-color: var(--button-bg-3);
      }
    }
  }
}
