.button {
  &--theme {
    &--red {
      --button-radius: var(--size-14);
      --button-background-color: var(--button-bg-4-red);

      @media (hover: hover) {
        &:hover {
          --button-background-color: var(--red-1);
        }
      }

      &:active,
      &.is-active {
        --button-background-color: var(--red-3);
      }
    }
  }
}
