.button {
  &--theme {
    &--transparent-category {
      --button-background-color: var(--button-bg-1);
      --button-radius: var(--size-14);
      color: var(--lightgray-3);

      &:not(.is-active) {
        @media (hover: hover) {
          &:hover {
            --button-background-color: var(--button-bg-2);
            color: var(--white);
          }
        }
      }

      &.is-active {
        color: var(--black);
        cursor: default;
      }
    }
  }
}
