.budget-card {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
  box-sizing: border-box;
  width: 100%;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-20);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  &__icon {
  }
}
