.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  padding: var(--size-12);
  gap: var(--size-24);
  box-shadow: var(--gray-shadow-2) var(--size-4) var(--size-0) var(--size-24);
  z-index: 2;

  &__title {
    display: flex;
    align-items: center;
    gap: var(--size-8);
    font-size: var(--size-16); // text
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  &__link {
    display: flex;
    padding: var(--size-10) var(--size-12);
    gap: var(--size-12);
    width: var(--size-216);
    background-color: var(--transparent);
    color: var(--lightgray-3);
    fill: currentColor;
    text-decoration: none;
    border-radius: var(--size-16);

    &:hover {
      background-color: var(--button-bg-1);
      color: var(--white);
    }

    &.is-active {
      background-color: var(--button-bg-2);
      fill: var(--green-1);
      color: var(--white);
    }
  }
}
