.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-1);
  padding: var(--size-12);
  gap: var(--size-24);

  &__title {
    font-size: var(--size-16);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  &__link {
    display: flex;
    padding: var(--size-10) var(--size-12);
    gap: var(--size-12);
    width: var(--size-216);
    background-color: var(--transparent);
    fill: currentColor;
    text-decoration: none;
    color: inherit;
    border-radius: var(--size-16);

    &:hover {
      background-color: color-mix(
        in oklab,
        var(--white) 5%,
        var(--transparent)
      );
    }

    &.is-active {
      background-color: color-mix(
        in oklab,
        var(--white) 10%,
        var(--transparent)
      );
      fill: var(--green-1);
    }
  }
}
