@use '../../../styles/helpers.scss' as *;

.row {
  @include initializeCssVar(--row-gap, var(--size-20));

  display: flex;
  gap: var(--row-gap);

  &--justify {
    &--space-between {
      justify-content: space-between;
    }
  }
}
