.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-16);

  &__item {
    display: flex;
    align-items: center;
    background-color: var(--gray-4);
    padding: var(--size-16);
    border-radius: var(--size-16);
    gap: var(--size-16);
    transition: transform 0.5s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.03);

        .categories__buttons {
          max-width: var(--size-68);
          opacity: 1;
          transition-delay: 0s;

          transition:
            opacity 0.5s ease-out,
            max-width 0.5s ease-out;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--size-4);
    max-width: var(--size-0);
    opacity: 0;
    transition:
      opacity 0.15s ease-in,
      max-width 0.25s ease-in;
  }

  &__row {
    display: flex;
    gap: var(--size-8);
    align-items: center;

    & + & {
      margin-top: var(--size-4);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
  }

  &__placeholder {
    height: var(--size-68);
    width: var(--parent);
    background-color: var(--lightgray-1);
    border-radius: var(--size-16);
  }
}
