@use 'sass:meta';

@include meta.load-css('colors/colors.scss');
@include meta.load-css('sizes/sizes.scss');

html,
body {
  background-color: var(--gray-1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
