.box {
  &--size {
    &--30 {
      width: var(--size-30);
      height: var(--size-30);
    }

    &--32 {
      width: var(--size-32);
      height: var(--size-32);
    }

    &--36 {
      width: var(--size-36);
      height: var(--size-36);
    }

    &--40 {
      width: var(--size-40);
      height: var(--size-40);
    }

    &--48 {
      width: var(--size-48);
      height: var(--size-48);
    }

    &--56 {
      width: var(--size-56);
      height: var(--size-56);
    }

    &--64 {
      width: var(--size-64);
      height: var(--size-64);
    }

    &--fit-content {
      width: fit-content;
      --box-padding: var(--size-24);
    }

    &--parent {
      width: var(--parent);
      --box-padding: var(--size-24);
    }
  }
}
