.box {
  &--size {
    &--30 {
      width: var(--size-30);
      height: var(--size-30);
    }

    &--40 {
      width: var(--size-40);
      height: var(--size-40);
    }

    &--fit-content {
      width: fit-content;
      --box-padding: var(--size-24);
    }

    &--parent {
      width: var(--parent);
      --box-padding: var(--size-24);
    }
  }
}
