.segmented-control {
  &--theme {
    &--gray-1 {
      background-color: var(--gray-1);
    }

    &--gray-4 {
      background-color: var(--gray-4);

      .segmented-control__button {
        &.is-selected {
          color: var(--black);
          background-color: var(--green-1);
        }
      }
    }

    &--switch {
      background-color: var(--gray-3);

      .segmented-control__button {
        font-weight: 600;

        &.is-selected {
          color: var(--black);
        }

        &:nth-child(2) {
          &.is-selected {
            background-color: var(--red-1);
          }
        }

        &:nth-child(1) {
          &.is-selected {
            background-color: var(--green-1);
          }
        }
      }
    }
  }
}
