.router-link {
  &--theme {
    &--green {
      background-color: var(--green-1);
      border-radius: var(--size-12);
      width: var(--size-30);
      height: var(--size-30);
      color: var(--black);
      justify-content: center;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
          background-color: var(--green-2);
        }
      }
    }
  }
}
