@use '../../../styles/helpers.scss' as *;

.box {
  @include initializeCssVar(--box-background-color, var(--gray-4));
  @include initializeCssVar(--box-radius, var(--size-16));
  @include initializeCssVar(--box-grow, var(--initial));
  @include initializeCssVar(--box-gap, var(--size-0));
  @include initializeCssVar(--box-padding, var(--unset));
  @include initializeCssVar(--box-header-padding, var(--unset));

  display: flex;
  flex-direction: column;
  border-radius: var(--box-radius);
  background-color: var(--box-background-color);
  color: var(--black);
  flex-grow: var(--box-grow);
  padding: var(--box-padding);
  gap: var(--box-gap);
  box-sizing: border-box;

  &.is-stretch {
    align-self: stretch;
  }

  &.has-align {
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: var(--size-24);
    padding-bottom: var(--box-header-padding);
  }

  &__wrapper {
    display: flex;

    &.has-align {
      align-items: center;
      justify-content: center;
      height: var(--parent);
    }
  }

  &__scroll-wrapper {
    display: flex;
    gap: var(--size-8);
    flex-wrap: wrap;
    height: var(--size-132);
    width: var(--parent);
    overflow: scroll;
    padding: var(--size-12);
  }

  &.has-shadow {
    box-shadow: var(--gray-shadow-1) var(--size-4) var(--size-0) var(--size-24);
  }
}
