.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  background-color: var(--transparent);
  border: none;
  padding: var(--size-0);
  border-image-width: var(--size-0);
  color: var(--white);
  cursor: pointer;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-rotated {
    .button__icon {
      rotate: 180deg;
    }
  }
}
