@use '../../../styles/helpers.scss' as *;

.icon {
  @include initializeCssVar(--default-width);
  @include initializeCssVar(--default-height);

  display: block;
  flex-shrink: 0;
  width: var(--default-width);
  height: var(--default-height);
  pointer-events: none;
}
