@use '../../../styles/helpers.scss' as *;

.icon {
  @include initializeCssVar(--default-size);

  display: block;
  flex-shrink: 0;
  width: var(--default-size);
  height: var(--default-size);
  pointer-events: none;
}
