.button {
  &--size {
    &--40 {
      height: var(--size-40);
      padding: var(--size-10) var(--size-16);
    }

    &--36 {
      height: var(--size-36);
      padding: var(--size-8) var(--size-16);
    }

    &--36x36 {
      width: var(--size-36);
      height: var(--size-36);
    }

    &--32x32 {
      width: var(--size-32);
      height: var(--size-32);
    }

    &--18x18 {
      width: var(--size-18);
      height: var(--size-18);
    }

    &--28x28 {
      width: var(--size-28);
      height: var(--size-28);
    }

    &--24 {
      height: var(--size-24);
      width: var(--parent);
    }

    &--44-stretched {
      width: var(--parent);
      height: var(--size-44);
    }

    &--48-stretched {
      width: var(--parent);
      height: var(--size-48);
    }
  }
}
