.summary-card__wrapper {
  &.columns {
    &-3 {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-20);
    }

    &-4 {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--size-16);
    }
  }
}
