@use '../../../styles/helpers.scss' as *;

.typography {
  @include initializeCssVar(--typography-color, inherit);
  @include initializeCssVar(--typography-text-align, unset);
  @include initializeCssVar(--typography-text-transform, unset);

  color: var(--typography-color);
  text-align: var(--typography-text-align);
  text-transform: var(--typography-text-transform);
}
