.title-14 {
  --typography-color: var(--white);
  font-size: var(--size-14);
  font-weight: 700;
}

.title-16 {
  --typography-color: var(--white);
  font-size: var(--size-16);
  font-weight: 700;
}

.title-18 {
  --typography-color: var(--white);
  font-size: var(--size-18);
  font-weight: 700;
}

.title-30 {
  --typography-color: var(--white);
  font-size: var(--size-30);
  font-weight: 700;
}

.subtitle-16 {
  --typography-color: var(--white);
  font-size: var(--size-16);
  font-weight: 600;
}

.text-12 {
  font-size: var(--size-12);
  font-weight: 500;
}

.text-14 {
  font-size: var(--size-14);
  font-weight: 500;
}

.text-16 {
  font-size: var(--size-16);
  font-weight: 500;
}

.transaction {
  font-weight: 700;
  font-size: var(--size-14);
}

.delta-positive {
  --typography-color: var(--green-1);
  font-size: var(--size-12);
}

.delta-negative {
  --typography-color: var(--red-1);
  font-size: var(--size-12);
}
