@use '../../../styles/helpers.scss' as *;

.grid {
  @include initializeCssVar(--grid-gap, var(--size-20));
  @include initializeCssVar(--grid-width, unset);
  @include initializeCssVar(--grid-template-columns, unset);

  display: grid;
  gap: var(--grid-gap);
  width: var(--grid-width);
  grid-template-columns: var(--grid-template-columns);
}
