.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-16) var(--size-12);
  background-color: var(--gray-3);
  box-shadow: var(--gray-shadow-1) var(--size-0) var(--size-2) var(--size-16);
}
