.select {
  &--theme {
    &--gray-6 {
      background-color: var(--gray-6);
      color: var(--white);
      border-radius: var(--size-14);
      border: 1px solid var(--button-bg-1);

      @media (hover: hover) {
        &:hover {
          background-color: var(--gray-5);
          border-color: var(--button-bg-2);
        }
      }
    }
  }
}
